.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
.footer-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}

.add-new-freelance-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.add-new-freelance-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: none;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.add-new-freelance-text {
  color: #000000;
  font-size: 2rem;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.add-new-freelance-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.add-new-freelance-login {
  color: #ffffff;
  display: flex;
  margin-right: 32px;
  background-color: #625AD8;
}
.add-new-freelance-icon {
  width: 49px;
  height: 45px;
  margin-right: 32px;
}
.add-new-freelance-pasted-image {
  width: 42px;
  height: 46px;
  border-radius: var(--dl-radius-radius-round);
}
.add-new-freelance-container01 {
  flex: 0 0 auto;
  width: 1513px;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.add-new-freelance-text01 {
  font-size: 3rem;
  align-self: flex-start;
  padding-left: var(--dl-space-space-sixunits);
}
.add-new-freelance-text02 {
  color: rgb(124, 131, 144);
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-sixunits);
}
.add-new-freelance-container02 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.add-new-freelance-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.add-new-freelance-text03 {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: 40.5rem;
}
.add-new-freelance-text05 {
  color: #f50000;
}
.add-new-freelance-image {
  width: 200px;
  height: 200px;
  align-self: center;
  object-fit: cover;
}
.add-new-freelance-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
}
.add-new-freelance-text06 {
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: 42.5rem;
}
.add-new-freelance-text07 {
  color: #000000;
}
.add-new-freelance-text08 {
  color: #ff0000;
}
.add-new-freelance-input {
  width: 249px;
}
.add-new-freelance-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.add-new-freelance-text09 {
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: 48rem;
}
.add-new-freelance-text10 {
  color: #000000;
}
.add-new-freelance-text11 {
  color: #ff0000;
}
.add-new-freelance-input1 {
  width: 157px;
}
.add-new-freelance-text12 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-unit);
}
.add-new-freelance-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.add-new-freelance-text13 {
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: 42rem;
}
.add-new-freelance-text14 {
  color: #000000;
}
.add-new-freelance-text15 {
  color: #ff0000;
}
.add-new-freelance-input2 {
  width: 157px;
}
.add-new-freelance-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  justify-content: flex-start;
}
.add-new-freelance-text16 {
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: 43.5rem;
}
.add-new-freelance-text17 {
  color: #000000;
}
.add-new-freelance-text18 {
  color: #ff0000;
}
.add-new-freelance-input3 {
  width: 157px;
}
.add-new-freelance-container08 {
  width: 100%;
  height: 270px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.add-new-freelance-container09 {
  width: 100%;
  height: 161px;
  display: flex;
  margin-top: var(--dl-space-space-unitandahalfunit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
}
.add-new-freelance-text19 {
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
  margin-left: var(--dl-space-space-tripleunit);
  margin-right: 43rem;
}
.add-new-freelance-text20 {
  color: #000000;
}
.add-new-freelance-text21 {
  color: #ff0000;
}
.add-new-freelance-textarea {
  width: 428px;
  height: 127px;
}
.add-new-freelance-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  justify-content: flex-end;
}
.add-new-freelance-text22 {
  margin-right: 6rem;
}
.add-new-freelance-button {
  color: #ffffff;
  align-self: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  text-decoration: none;
  background-color: #40ce59;
}
@media(max-width: 1600px) {
  .add-new-freelance-text {
    color: #000000;
    font-size: 2rem;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .add-new-freelance-login {
    color: #ffffff;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    margin-left: 32px;
    background-color: #625AD8;
  }
  .add-new-freelance-icon {
    fill: #000000;
    width: 44px;
    height: 47px;
    margin-right: 32px;
  }
  .add-new-freelance-pasted-image {
    width: 51px;
    height: 46px;
  }
  .add-new-freelance-container01 {
    width: 100%;
  }
  .add-new-freelance-text01 {
    width: 601px;
    height: 100%;
    align-self: flex-start;
  }
  .add-new-freelance-container02 {
    width: 100%;
  }
  .add-new-freelance-container03 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .add-new-freelance-text03 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-left: var(--dl-space-space-sixunits);
    margin-right: 42.5rem;
  }
  .add-new-freelance-image {
    border-radius: var(--dl-radius-radius-round);
  }
  .add-new-freelance-container04 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .add-new-freelance-text06 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-right: 42.5rem;
  }
  .add-new-freelance-text07 {
    color: #000000;
  }
  .add-new-freelance-text08 {
    color: #ff0000;
  }
  .add-new-freelance-input {
    color: var(--dl-color-secondary-400);
    margin-right: var(--dl-space-space-unitandahalfunit);
  }
  .add-new-freelance-container05 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .add-new-freelance-text09 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-right: 42.5rem;
  }
  .add-new-freelance-text10 {
    color: #000000;
  }
  .add-new-freelance-text11 {
    color: #ff0000;
  }
  .add-new-freelance-input1 {
    color: var(--dl-color-secondary-400);
    margin-right: var(--dl-space-space-unitandahalfunit);
  }
  .add-new-freelance-container06 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .add-new-freelance-text13 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-right: 42.5rem;
  }
  .add-new-freelance-text14 {
    color: #000000;
  }
  .add-new-freelance-text15 {
    color: #ff0000;
  }
  .add-new-freelance-input2 {
    color: var(--dl-color-secondary-400);
    margin-right: var(--dl-space-space-unitandahalfunit);
  }
  .add-new-freelance-container07 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .add-new-freelance-text16 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-right: 42.5rem;
  }
  .add-new-freelance-text17 {
    color: #000000;
  }
  .add-new-freelance-text18 {
    color: #ff0000;
  }
  .add-new-freelance-input3 {
    color: var(--dl-color-secondary-400);
    margin-right: var(--dl-space-space-unitandahalfunit);
  }
  .add-new-freelance-container08 {
    width: auto;
  }
  .add-new-freelance-container09 {
    height: 253px;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .add-new-freelance-text19 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-left: var(--dl-space-space-sixunits);
    margin-right: 45rem;
  }
  .add-new-freelance-text20 {
    color: #000000;
  }
  .add-new-freelance-text21 {
    color: #ff0000;
  }
  .add-new-freelance-textarea {
    width: 509px;
    height: 193px;
    padding-top: var(--dl-space-space-unitandahalfunit);
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-unitandahalfunit);
  }
  .add-new-freelance-container10 {
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: 0px;
    justify-content: flex-end;
  }
  .add-new-freelance-text22 {
    margin-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 1200px) {
  .add-new-freelance-header {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
  .add-new-freelance-text {
    color: #000000;
  }
  .add-new-freelance-icon {
    fill: #000000;
  }
  .add-new-freelance-pasted-image {
    border-radius: var(--dl-radius-radius-round);
  }
  .add-new-freelance-text02 {
    align-self: center;
  }
  .add-new-freelance-container02 {
    justify-content: center;
  }
  .add-new-freelance-text03 {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 20rem;
  }
  .add-new-freelance-text06 {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 20rem;
  }
  .add-new-freelance-text09 {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 20rem;
  }
  .add-new-freelance-text13 {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 20rem;
  }
  .add-new-freelance-text16 {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: 20rem;
  }
  .add-new-freelance-container09 {
    width: 100%;
    height: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .add-new-freelance-text19 {
    margin-left: var(--dl-space-space-unit);
    margin-right: 20rem;
  }
  .add-new-freelance-textarea {
    width: 445px;
  }
  .add-new-freelance-container10 {
    width: 100%;
  }
  .add-new-freelance-text22 {
    margin-right: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .add-new-freelance-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .add-new-freelance-btn-group {
    display: none;
  }
}
@media(max-width: 479px) {
  .add-new-freelance-header {
    padding: var(--dl-space-space-unit);
  }
}
