.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: none;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.header-text {
  color: #000000;
  font-size: 2rem;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.header-nav {
  display: flex;
}
.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-login {
  color: #ffffff;
  display: flex;
  margin-right: 32px;
  text-decoration: none;
  background-color: #625AD8;
}
.header-icon {
  width: 34px;
  height: 34px;
  margin-right: 32px;
}
.header-image {
  width: 34px;
  object-fit: cover;
}
.header-burger-menu {
  display: none;
}
.header-icon02 {
  width: 16px;
  height: 16px;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.header-image1 {
  height: 2rem;
}
.header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon04 {
  width: 16px;
  height: 16px;
}
.header-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.header-icon08 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.header-icon10 {
  width: 16px;
  height: 16px;
}
@media(max-width: 1600px) {
  .header-text {
    color: #ffffff;
    font-size: 2rem;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .header-login {
    color: #ffffff;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    margin-left: 32px;
    background-color: #625AD8;
  }
  .header-icon {
    fill: #000000;
    width: 44px;
    height: 47px;
    margin-right: 32px;
  }
  .header-image {
    width: 44px;
  }
}
@media(max-width: 1200px) {
  .header-header {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
  .header-text {
    color: #0a0a0a;
  }
  .header-icon {
    fill: #D9D9D9;
  }
}
@media(max-width: 767px) {
  .header-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-nav {
    display: none;
  }
  .header-btn-group {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: 16px;
  }
}

.checkout-blog-post-card {
  width: 678px;
  display: flex;
  max-width: 1400px;
  flex-direction: row;
  justify-content: center;
}
.checkout-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  background-color: #ffffff;
}
.checkout-image {
  width: 222px;
  height: 223px;
  object-fit: cover;
}
.checkout-container1 {
  width: auto;
  height: auto;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.checkout-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.checkout-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkout-text {
  font-size: 2rem;
  align-self: center;
}
.checkout-icon {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 15rem;
}
.checkout-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.checkout-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1rem;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.checkout-text2 {
  color: var(--dl-color-gray-black);
  font-size: 1rem;
  font-weight: 700;
}



.checkout-root-class-name4 {
  align-self: center;
  background-color: #ffffff;
}
.checkout-root-class-name5 {
  background-color: #ffffff;
}
.checkout-root-class-name6 {
  background-color: #ffffff;
}
.checkout-root-class-name7 {
  background-color: #ffffff;
}



@media(max-width: 991px) {
  .checkout-image {
    width: 50%;
  }
}
@media(max-width: 767px) {
  .checkout-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .checkout-image {
    width: 100%;
  }
  .checkout-container1 {
    width: 100%;
  }
  .checkout-text {
    margin-bottom: 32px;
  }
  .checkout-container4 {
    margin-bottom: 32px;
  }
}
@media(max-width: 479px) {
  .checkout-text2 {
    width: auto;
  }
}

.blog-card-container {
  flex: 1;
  width: 255px;
  margin: var(--dl-space-space-unit);
  display: flex;
  max-width: 300px;
  min-width: 200px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.blog-card-image {
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius75);
}

.blog-card-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.blog-card-text {
  color: var(--dl-color-secondary-500);
  font-size: 1.25rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}


.blog-card-root-class-name2 {
  background-color: #ffffff;
}
@media(max-width: 1200px) {
  .blog-card-root-class-name {
    align-self: center;
  }
  .blog-card-root-class-name1 {
    align-self: center;
  }
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
.footer-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}

.payment-flow-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.payment-flow-container01 {
  width: 100%;
  height: auto;
  display: flex;
  opacity: 1;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1635776062043-223faf322554?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDY4fHxncmFkaWVudHxlbnwwfHx8fDE3MDg1MTc1NTR8MA&ixlib=rb-4.0.3&w=1500");
}
.payment-flow-text {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unitandahalfunit);
  margin-left: var(--dl-space-space-twelveunits);
  margin-right: 65rem;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.payment-flow-text03 {
  font-size: 2rem;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unitandahalfunit);
  text-align: left;
  margin-left: var(--dl-space-space-twelveunits);
  margin-right: 65rem;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.payment-flow-container02 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.payment-flow-blog {
  width: 1031px;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  margin-left: var(--dl-space-space-twelveunits);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.payment-flow-container03 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.payment-flow-container04 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.payment-flow-container05 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.payment-flow-container06 {
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.payment-flow-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
}
.payment-flow-container07 {
  flex: 2;
  width: 50%;
  height: 1010px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  padding-top: 48px;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
.payment-flow-container08 {
  width: 752px;
  height: auto;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.payment-flow-container08:hover {
  transform: scale(1.02);
}
.payment-flow-text06 {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}
.payment-flow-text09 {
  color: #c4c4c5;
}
.payment-flow-text11 {
  margin: var(--dl-space-space-doubleunit);
  font-size: 5rem;
  font-weight: 200;
}
.payment-flow-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.payment-flow-text12 {
  font-weight: bold;
  margin-left: var(--dl-space-space-unit);
}
.payment-flow-text13 {
  font-weight: bold;
  margin-left: 10rem;
  margin-right: var(--dl-space-space-doubleunit);
}
.payment-flow-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.payment-flow-text14 {
  font-weight: bold;
  margin-left: var(--dl-space-space-unit);
}
.payment-flow-text17 {
  font-weight: bold;
  margin-left: 14.2rem;
  margin-right: var(--dl-space-space-doubleunit);
}
.payment-flow-text18 {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: center;
  font-weight: 600;
}
.payment-flow-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.payment-flow-text19 {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-tripleunit);
  font-weight: bold;
  margin-left: var(--dl-space-space-unit);
}
.payment-flow-text22 {
  color: rgb(0, 0, 0);
  margin-top: var(--dl-space-space-tripleunit);
  font-weight: bold;
  margin-left: 13.5rem;
  margin-right: var(--dl-space-space-doubleunit);
}
.payment-flow-navlink {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius40);
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.payment-flow-blog-posts {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #f3ffff;
}
.payment-flow-text23 {
  color: var(--dl-color-secondary-500);
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.payment-flow-container12 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1600px) {
  .payment-flow-text {
    height: 72px;
    margin-right: 45rem;
  }
  .payment-flow-blog {
    margin-left: var(--dl-space-space-sixunits);
  }
  .payment-flow-container07 {
    flex: 0 0 auto;
    width: 100%;
    height: 1001px;
  }
}
@media(max-width: 1200px) {
  .payment-flow-text {
    width: 681px;
    margin-left: var(--dl-space-space-fourunits);
    margin-right: 20rem;
  }
  .payment-flow-container02 {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .payment-flow-blog {
    width: 794px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .payment-flow-container08 {
    width: 373px;
    margin-right: 0px;
  }
  .payment-flow-text06 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .payment-flow-text09 {
    color: #c4c4c5;
  }
  .payment-flow-container09 {
    width: 325px;
  }
  .payment-flow-text12 {
    margin-left: 1.5rem;
  }
  .payment-flow-text13 {
    font-weight: bold;
    margin-left: 7.8rem;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .payment-flow-text17 {
    margin-left: 12.3rem;
    margin-right: 0px;
  }
  .payment-flow-text18 {
    color: #c4c4c5;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .payment-flow-blog-posts {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .payment-flow-container07 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .payment-flow-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .payment-flow-container07 {
    flex-direction: column;
  }
  .payment-flow-container08 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 32px;
  }
}
@media(max-width: 479px) {
  .payment-flow-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
