.blog-card-container {
  flex: 1;
  width: 255px;
  margin: var(--dl-space-space-unit);
  display: flex;
  max-width: 300px;
  min-width: 200px;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.blog-card-image {
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius75);
}

.blog-card-container1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.blog-card-text {
  color: var(--dl-color-secondary-500);
  font-size: 1.25rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}


.blog-card-root-class-name2 {
  background-color: #ffffff;
}
@media(max-width: 1200px) {
  .blog-card-root-class-name {
    align-self: center;
  }
  .blog-card-root-class-name1 {
    align-self: center;
  }
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
.footer-container {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: space-between;
}
.footer-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  object-fit: cover;
}

.profile-other-people-how-they-see-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-other-people-how-they-see-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: none;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.profile-other-people-how-they-see-text {
  color: #000000;
  font-size: 2rem;
  align-self: center;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.profile-other-people-how-they-see-nav {
  display: flex;
}
.profile-other-people-how-they-see-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-other-people-how-they-see-login {
  color: #ffffff;
  display: flex;
  margin-right: 32px;
  background-color: #625AD8;
}
.profile-other-people-how-they-see-icon {
  width: 49px;
  height: 45px;
  margin-right: 32px;
}
.profile-other-people-how-they-see-pasted-image {
  width: 42px;
  height: 46px;
  border-radius: var(--dl-radius-radius-round);
}
.profile-other-people-how-they-see-burger-menu {
  display: none;
}
.profile-other-people-how-they-see-icon02 {
  width: 16px;
  height: 16px;
}
.profile-other-people-how-they-see-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.profile-other-people-how-they-see-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-other-people-how-they-see-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.profile-other-people-how-they-see-image {
  height: 2rem;
}
.profile-other-people-how-they-see-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-other-people-how-they-see-icon04 {
  width: 16px;
  height: 16px;
}
.profile-other-people-how-they-see-icon06 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.profile-other-people-how-they-see-icon08 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.profile-other-people-how-they-see-icon10 {
  width: 16px;
  height: 16px;
}
.profile-other-people-how-they-see-profile {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
}
.profile-other-people-how-they-see-image1 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius75);
}
.profile-other-people-how-they-see-container02 {
  flex: 2;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.profile-other-people-how-they-see-container03 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.profile-other-people-how-they-see-text01 {
  color: var(--dl-color-secondary-700);
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: var(--dl-space-space-halfunit);
}
.profile-other-people-how-they-see-container04 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.profile-other-people-how-they-see-text02 {
  margin-right: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text03 {
  color: var(--dl-color-secondary-700);
  font-style: normal;
  font-weight: 600;
}
.profile-other-people-how-they-see-icon12 {
  width: 24px;
  height: 24px;
}
.profile-other-people-how-they-see-text05 {
  margin-right: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text06 {
  color: var(--dl-color-secondary-700);
  font-style: normal;
  font-weight: 600;
}
.profile-other-people-how-they-see-blog-posts {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.profile-other-people-how-they-see-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.profile-other-people-how-they-see-text09 {
  color: var(--dl-color-secondary-500);
  align-self: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text12 {
  color: var(--dl-color-secondary-500);
  align-self: center;
  font-style: normal;
  margin-left: 60rem;
  letter-spacing: -0.025rem;
}
.profile-other-people-how-they-see-container06 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: space-between;
}
.profile-other-people-how-they-see-container07 {
  width: 1246px;
  display: flex;
  z-index: 2;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius40);
  margin-bottom: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1556139930-c23fa4a4f934?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQyfHxhYnN0cmFjdHxlbnwwfHx8fDE3MDgzMDkzOTl8MA&ixlib=rb-4.0.3&w=1300');
}
.profile-other-people-how-they-see-text13 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.profile-other-people-how-they-see-text14 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text15 {
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.profile-other-people-how-they-see-container08 {
  display: flex;
  position: relative;
}
.profile-other-people-how-they-see-button {
  color: var(--dl-color-blue-500);
  display: flex;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.profile-other-people-how-they-see-text16 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-halfunit);
}
.profile-other-people-how-they-see-icon14 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.profile-other-people-how-they-see-text17 {
  color: var(--dl-color-secondary-500);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-container09 {
  flex: 1;
  width: 1194px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.profile-other-people-how-they-see-card {
  width: 1360px;
  display: flex;
  padding: var(--dl-space-space-unitandahalfunit);
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  background-size: cover;
  background-image: url("https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/seaside.jpg");
}
.profile-other-people-how-they-see-container10 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.profile-other-people-how-they-see-pricing-card {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.profile-other-people-how-they-see-pricing-card:hover {
  transform: scale(1.02);
}
.profile-other-people-how-they-see-text20 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.profile-other-people-how-they-see-container11 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.profile-other-people-how-they-see-text21 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.profile-other-people-how-they-see-text24 {
  font-size: 4rem;
  font-weight: 700;
}
.profile-other-people-how-they-see-container12 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.profile-other-people-how-they-see-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text27 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text31 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-button1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.profile-other-people-how-they-see-pricing-card1 {
  width: 100%;
  display: flex;
  padding: 32px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.profile-other-people-how-they-see-pricing-card1:hover {
  transform: scale(1.02);
}
.profile-other-people-how-they-see-text33 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.profile-other-people-how-they-see-container13 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.profile-other-people-how-they-see-text34 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.profile-other-people-how-they-see-text37 {
  font-size: 4rem;
  font-weight: 700;
}
.profile-other-people-how-they-see-text38 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.profile-other-people-how-they-see-text40 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-bottom: 32px;
}
.profile-other-people-how-they-see-container14 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.profile-other-people-how-they-see-text43 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text45 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text47 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text48 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-button2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.profile-other-people-how-they-see-pricing-card2 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.profile-other-people-how-they-see-pricing-card2:hover {
  transform: scale(1.02);
}
.profile-other-people-how-they-see-text52 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.profile-other-people-how-they-see-container15 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.profile-other-people-how-they-see-text53 {
  font-size: 1.15rem;
  margin-top: 32px;
  font-weight: 300;
}
.profile-other-people-how-they-see-text56 {
  font-size: 4rem;
  font-weight: 700;
}
.profile-other-people-how-they-see-text57 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 300;
}
.profile-other-people-how-they-see-text59 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-bottom: 32px;
}
.profile-other-people-how-they-see-container16 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.profile-other-people-how-they-see-text62 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text66 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-text68 {
  margin-bottom: var(--dl-space-space-unit);
}
.profile-other-people-how-they-see-button3 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 1600px) {
  .profile-other-people-how-they-see-text {
    color: #000000;
    font-size: 2rem;
    font-style: normal;
    font-family: Poppins;
    font-weight: 700;
  }
  .profile-other-people-how-they-see-login {
    color: #ffffff;
    font-style: normal;
    font-family: Poppins;
    font-weight: 400;
    margin-left: 32px;
    background-color: #625AD8;
  }
  .profile-other-people-how-they-see-icon {
    fill: #000000;
    width: 44px;
    height: 47px;
    margin-right: 32px;
  }
  .profile-other-people-how-they-see-pasted-image {
    width: 51px;
    height: 46px;
  }
  .profile-other-people-how-they-see-container07 {
    width: 1266px;
    margin-top: var(--dl-space-space-tripleunit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-tripleunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius40);
    margin-bottom: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1556139930-c23fa4a4f934?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQyfHxhYnN0cmFjdHxlbnwwfHx8fDE3MDgzMDkzOTl8MA&ixlib=rb-4.0.3&w=1300');
  }
  .profile-other-people-how-they-see-container09 {
    width: 100%;
  }
  .profile-other-people-how-they-see-card {
    width: 1279px;
    align-self: center;
  }
}
@media(max-width: 1200px) {
  .profile-other-people-how-they-see-header {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
  }
  .profile-other-people-how-they-see-text {
    color: #000000;
  }
  .profile-other-people-how-they-see-icon {
    fill: #000000;
  }
  .profile-other-people-how-they-see-profile {
    height: 392px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .profile-other-people-how-they-see-text03 {
    color: var(--dl-color-secondary-700);
    font-style: normal;
    font-weight: 600;
  }
  .profile-other-people-how-they-see-text06 {
    color: var(--dl-color-secondary-700);
    font-style: normal;
    font-weight: 600;
  }
  .profile-other-people-how-they-see-text12 {
    margin-left: 53rem;
  }
  .profile-other-people-how-they-see-container07 {
    width: 726px;
    height: 384px;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-tripleunit);
    margin-right: var(--dl-space-space-unitandahalfunit);
    padding-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius40);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1556139930-c23fa4a4f934?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQyfHxhYnN0cmFjdHxlbnwwfHx8fDE3MDgzMDkzOTl8MA&ixlib=rb-4.0.3&w=1300');
  }
  .profile-other-people-how-they-see-container09 {
    width: 1131px;
    align-self: center;
  }
  .profile-other-people-how-they-see-card {
    width: 1108px;
  }
}
@media(max-width: 991px) {
  .profile-other-people-how-they-see-pricing-card {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .profile-other-people-how-they-see-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .profile-other-people-how-they-see-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .profile-other-people-how-they-see-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .profile-other-people-how-they-see-nav {
    display: none;
  }
  .profile-other-people-how-they-see-btn-group {
    display: none;
  }
  .profile-other-people-how-they-see-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-other-people-how-they-see-container10 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .profile-other-people-how-they-see-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .profile-other-people-how-they-see-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .profile-other-people-how-they-see-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
}
@media(max-width: 479px) {
  .profile-other-people-how-they-see-header {
    padding: var(--dl-space-space-unit);
  }
  .profile-other-people-how-they-see-mobile-menu {
    padding: 16px;
  }
  .profile-other-people-how-they-see-container10 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .profile-other-people-how-they-see-pricing-card2 {
    margin-bottom: 0px;
  }
}
